
<ion-view view-title="Resistance">
  <ion-content>
      <label class="dark item item-input" >
        <div class="row">
            <label class="item-input-wrapper">
              <input  type="text" placeholder="Target Temperature" ng-model="targetTemp.text" >
            </label>
        </div>
      </label>
	    <label class="dark item item-input">
          <div class="row">
              <label class="item-input-wrapper">
              <input type="text" placeholder="Stator Wire Temperature" ng-model="actualTemp.text" >
            </label>
          </div>
	    </label>
  		<label class="dark item item-input">
        <div class="row">
            <label class="item-input-wrapper">
              <input type="text" placeholder="Metered Resistance" ng-model="meteredResistance.text" >
            </label>
        </div>
  		</label>
  		<label class="dark item item-input">
         <div class="row">
            <label class="item-input-wrapper">
              <input type="text" placeholder="Adjusted Resistance" ng-model="adjustedResistance.text" >
            </label>
          </div>
  		</label>
      <button class="button button-block button-dark" ng-click="go(targetTemp, actualTemp, meteredResistance)">
			   GO
	    </button>
  </ion-content>
</ion-view>


