<ion-view view-title=" Spec Rotors">
  <ion-content>
  	<div class="card">
	  <div class="item item-text-wrap">
	    The magnet outside diameter shall be a maximum of 12.51 mm, no tolerance, for the entire length of the magnet.
	  </div>
	</div>
	<div class="card">
	  <div class="item item-text-wrap">
	    The shaft outside diameter, where the magnet is mounted, shall be 7.25 +/- 0.150mm for the entire length of the magnet. This dimension must be measurable without destroying the rotor.  In other words the shaft cannot be smaller than 7.10 mm.
	  </div>
	</div>
	<div class="card">
	  <div class="item item-text-wrap">
	    The magnet length shall be 25.0 +/- 1.00 mm not including any nonmagnetic balancing material. In other words a max length of the magnet cannot exceed 26.0 mm.
	  </div>
	</div>
  </ion-content>
</ion-view>