<ion-view view-title="Stators">
  <ion-content>
  	<div class="card">
	  <div class="item item-text-wrap">
	   The overall stator length parallel to the motor shaft shall be a minimum 19.3 mm and a maximum 21.0 mm.
	  </div>
	</div>
  </ion-content>
</ion-view>